html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
h1{
  color: #000000;
  margin: 0 auto 15px auto; 
  text-align: center;
}
label{
  color: #A52A2A;
  
}
input{
  color: #000135;
}

output{
	background-color:#A52A2A;
    display: none;

}
button{
	background-color: #6496ED;
}
#submit-button{
	background-color: #DC143C;
	width: 20px;
}


#hint-button{
	background-color: #00FFFF;
	
}